__pycache__/
.venv/
venv/

.vscode/

build/
dist/

clocks.txt
monitor.state
monitor.trace.log

src/sw_networkmonitor/resources/ui_*.py
src/sw_networkmonitor/resources/rc_resources.py
src/sw_networkmonitor/resources/version.py

*.hdmi
*.dwifi
*.awifi
*.iprpt
*.ipdig
*.ipana
*.mastr
*.ldwifi
*.lawifi

*.state
*.clocks
